[submodule "FreyYa"]
	path = source/MetroRadiance
	url = https://github.com/FreyYa/MetroRadiance.git
[submodule "FreyYaMT"]
	path = source/MetroTrilithon
	url = https://github.com/FreyYa/MetroTrilithon.git
