<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BattleInfoPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BattleInfoPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BattleInfoPlugin.Properties.Settings>
            <setting name="IsEnabledBattleEndNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstIsCritical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondIsCritical" serializeAs="String">
                <value>False</value>
            </setting>
        </BattleInfoPlugin.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BattleInfoPlugin.Properties.Settings>
            <setting name="EnemyDataFilePath" serializeAs="String">
                <value>BattleInfoPlugin_EnemyData.txt</value>
            </setting>
            <setting name="MasterDataFilePath" serializeAs="String">
                <value>BattleInfoPlugin_MasterData.txt</value>
            </setting>
            <setting name="CacheDirPath" serializeAs="String">
                <value>BattleInfoPluginData</value>
            </setting>
        </BattleInfoPlugin.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
	 <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>